.btn {
  width: fit-content;
  padding: 16px 64px;
  border-radius: 64px;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 18px;
  transition: 0.15s;
}

.primary {
  color: #fff;
  background: var(--primary);
  transition: 0.15s;
}
.primary:hover {
  background: var(--primary-dark);
}
.primary:focus {
  outline: 4px solid var(--primary-light);
}

.text {
  background: #fff;
  color: var(--primary);
}
.text:hover {
  color: var(--primary-dark);
}
